<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">

  <h2>Hover Rows</h2>
  <p>The .table-hover class enables a hover state on table rows:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
	<th></th>
	{% for time in times %}
        <th>{{ time }}</th>
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monday</td>
		
		{% for key,value in days.items %}
		{% if key|stringformat:"s" == 'Mon' %}
		{% for item in value %}
		<th>
			{% for subject in item %}
			<p>{{ subject }} </p>
			{% endfor %}
		 </th>
 		


		{% endfor %}
		{% endif %}
		{% endfor %}
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

